@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    background-color: #85dead;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #111111;
    text-decoration: none;
}

a:hover {
   font-size: 1.2em;
}

header {
    padding: 1em;
    background: white;
}

main {

    margin: 2em;
}

#assignment-menu {
    background: white;
    color: black;
    padding: 1em;
    width: 25%;
    border-radius: 1em;
}